.addcomment{
    form{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        padding: .5em 1em;
        textarea{
            border: 1px solid gray;
            border-radius: 5px;
            resize: none;
            margin-bottom: 1em;
            padding: .5em;
        }
        button{
            width: 5em;
            align-self: center;
        }
    }
}