.post{
    color: $light;
    box-shadow: 0 0 10px #000000;
    margin-bottom: 1em;
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    position: relative;
    .post_header{
        display: flex;
        justify-content: space-between;
        padding: .5em 1em;
        align-items: center;
    }
    .post_image{
        flex-grow: 1;
        overflow: hidden;
        img{
            width:  100%;
            object-fit: cover;
        }
    }
    .post_footer-author{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $orange;
        img{
            margin-right: .5em;
        }
    }
    .post_description{
        display: block;
        height: 4.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        cursor: auto;
        color: $light;
        font-size: .9em;
        font-weight: 300;
        padding: .5em;
        &.vide{
            display: none;
        }
    }
    .post_footer{
        padding: 1em;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width : 1200px){
    .post{
        width: 80%;
    }
}

@media screen and (max-width : 990px){
    .post{
        width: 95%;
        padding: 0;
        height: 50vh;
        .post_footer{
            span .fa, span .far {
                font-size: 1.5em !important;
            }
            .date{
                font-size: .8em !important;
                color: $primary;
            }
        }
    }
}