.addpost{
    padding-top: 5em;
    padding-bottom: 10em;
    height: calc(100vh - 10em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light;
    h1{
        font-size: 3em;
        padding: 0;
        margin: 0;
    }
    h2{
        font-size: 1em;
        font-weight: 400;
        background-color: rgb(247, 195, 165);
        color: rgb(240, 73, 22);
        padding: 1em 2em;
        margin-bottom: 1em;
        width: 60%;
        display: flex;
        .fa{
            margin-right: 1em;
            font-size: 2em;
        }
    }
    div{
        width: 65%;
        margin: auto;
        height: 100%;
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .form-group{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                label{
                    font-size: 1.2em;
                    margin: .5em 0 0 0;
                }
                input[type="file"]{
                    display: none;
                }
                #addImage{
                    background-color: $success;
                    padding: .5em 1em;
                    cursor: pointer;
                }
                input, textarea{
                    width: 60%;
                    border: 1px solid lightgray;
                    padding: .5em;
                    border-radius: 5px;
                    font-size: 1.1em;
                }
                textarea{
                    width: 100%;
                    resize: none;
                    max-lines: 5;
                }
                .showImage{
                    text-align: center;
                    margin-top: 1em;
                    img{
                        width: 70%;
                    }
                }
            }
            button{
                padding: .5em 1em;
                font-size: 1.1em;
                margin-top: 1em;
            }
        }
    }
}

@media screen and (max-width: 990px){
    .addpost{
        h1{
            padding: 1em;
            font-size: 1.5em;
        }
        h2{
            font-size: .8em;
            margin: 0;
            width: 80%;
        }
    }
}